{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    },
    "target": "es2020",
    "keepClassNames": false // Lebih ringan kalau tidak perlu debugging/logging nama class
  },
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "minify": true,         // ⚡ aktifkan minifikasi untuk production
  "sourceMaps": false     // ❌ nonaktifkan sourcemaps agar tidak include ke bundle
}
